/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 5.5rem;
  padding: 0 2rem;
  color: $color-primary;
  background-color: white;
  text-align: center;
  font-size: 11px;
  font-family: $heading-font-family;
  font-weight: $font-weight-bold;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: $base-border-radius;
  border: none;
  box-shadow: $box-shadow-0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all $base-duration $base-timing;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
  box-shadow: $box-shadow-4;
}
.button.button--primary,
button.button--primary,
input[type="submit"].button--primary,
input[type="reset"].button--primary,
input[type="button"].button--primary {
  color: $color-accent;
  background-color: $color-secondary;
}
.button.button--primary:hover,
button.button--primary:hover,
input[type="submit"].button--primary:hover,
input[type="reset"].button--primary:hover,
input[type="button"].button--primary:hover,
.button.button--primary:focus,
button.button--primary:focus,
input[type="submit"].button--primary:focus,
input[type="reset"].button--primary:focus,
input[type="button"].button--primary:focus {
  background-color: lighten($color-secondary, 5);
}
