/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 5.5rem;
  padding: 2rem; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: transparentize(#fff, 0.2);
  border: none;
  border-bottom: $base-border;
  box-shadow: none;
  box-sizing: border-box;
  transition: all $base-duration $base-timing;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid darken($color-light-grey, 20);
  outline: 0;
  background-color: #fff;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-light-grey;
  font-weight: $font-weight-regular;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-light-grey;
  font-weight: $font-weight-regular;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-light-grey;
  font-weight: $font-weight-regular;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $color-light-grey;
  font-weight: $font-weight-regular;
}

%input {
  width: 100%;
  color: $color-secondary;
}
%input-button {
  top: 0;
  right: 0;
  padding: 0;
  position: absolute;
  border: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  i {
    font-size: 1.75rem;
  }
}
