@import "../../style/base/variables";

.message {
  padding: 1rem;
  border-bottom: $base-border;
  width: 100%;
  text-decoration: none;
  display: block;
  figure {
    display: inline-block;
  }
}
